# Dependencies
node_modules
npm-debug.log*

# Build output
dist

# Environment files
.env
.env.*
.env.local
.env.development
.env.production

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Test files
coverage
test
*.test.*

# Temporary files
tmp
*.tmp
*.log

# Audio files
*.wav
*.m4a
*.opus
audio_*

# Database
*.db
*.sqlite
*.sqlite3

# QR codes
qr.png
qr_*.png

# Docker
Dockerfile
.dockerignore
docker-compose.yml
